<alert></alert>
<loading></loading>
<div ng-include="'/app/views/rookery/progressBar.html'"></div>
<div class="row" ng-show="invalid">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="alert alert-danger" role="alert">
            One or more disturbance entry is incomplete (pink row/marked with **).
        </div>
    </div>
</div>
<div class="row">
    <form class="form-horizontal survey-form" role="form" name="disturbanceForm">
        <div class="panel panel-info">
            <div class="panel-heading"><span class="icon-info"></span>&nbsp; Instructions</div>
            <div class="panel-body">
                <p>If a quantity is entered for a disturbance, then the additional fields must be filled out for that row. To remove a disturbance, simply change the quantity to zero.</p>
            </div>
        </div>
        <div class="row header-row">
            <div class="col-sm-2">Types</div>
            <div class="col-sm-2">Quantity</div>
            <div class="col-sm-2">Duration (nearest 5 minutes)</div>
            <div class="col-sm-6">Result or Effect (observed behavior)</div>
        </div>
        <div ng-class="{ 'row odd-row': $odd, 'row even-row': $even, 'last-row': $last }" ng-repeat="disturbance in disturbances track by $index">
            <div class="col-sm-2" ng-class="{ 'bg-danger': disturbance.invalid }">
                <b ng-bind="disturbance.description"></b>
                <span ng-show="disturbance.invalid" class="text-warning">**</span>
            </div>
            <div class="visible-sm-12 visible-xs-12 hidden-md hidden-lg small-label" ng-class="{ 'bg-danger': disturbance.invalid }">Quantity</div>
            <div class="col-sm-2" ng-class="{ 'bg-danger': disturbance.invalid }">
                <input type="number" class="form-control" min="0" placeholder="Quantity" ng-model="disturbance.quantity" ng-change="validateDisturbance(disturbance.id)">
            </div>
            <div class="visible-sm-12 visible-xs-12 hidden-md hidden-lg small-label" ng-class="{ 'bg-danger': disturbance.invalid }">Duration (nearest 5 minutes)</div>
            <div class="col-sm-2" ng-class="{ 'bg-danger': disturbance.invalid }">
                <input type="number" step="5" min="0" class="form-control" placeholder="Duration" ng-model="disturbance.durationMinutes" ng-change="validateDisturbance(disturbance.id)">
            </div>
            <div class="visible-sm-12 visible-xs-12 hidden-md hidden-lg small-label" ng-class="{ 'bg-danger': disturbance.invalid }">Result or Effect (observed behavior)</div>
            <div class="col-sm-6" ng-class="{ 'bg-danger': disturbance.invalid }">
                <input type="text" class="form-control" placeholder="Behavior" ng-model="disturbance.behavior" ng-change="validateDisturbance(disturbance.id)">
            </div>
        </div>
        <div class="row" style="margin-top: 1em; margin-bottom: 1em;">
            <label class="control-label col-sm-2" for="disturbanceComments">Comments</label>
            <div class="col-sm-9">
                <textarea type="text" class="form-control" rows="5" id="disturbanceComments" placeholder="Enter Comments" ng-model="rookeryCensus.disturbanceComments"></textarea>
            </div>
        </div>
    </form>
</div>
<div ng-include="'/app/views/rookery/bottomBar.html'"></div>
