<div class="row">
    <h2>Rookery TERN Colonial Waterbird Census</h2>
    <div ng-show="step === 1">
        <div class="col-sm-2" style="border-top:3px solid #f0ad4e"><span class="label label-warning">1</span><span> Location and Date</span></div>
        <div class="col-sm-2" style="border-top:3px solid grey"><span class="label label-default">2</span><span> Site Information</span></div>
        <div class="col-sm-2" style="border-top:3px solid grey"><span class="label label-default">3</span><span> Waterbird Survey</span></div>
        <div class="col-sm-2" style="border-top:3px solid gray"><span class="label label-default">4</span><span> Disturbances</span></div>
        <div class="col-sm-2" style="border-top:3px solid gray"><span class="label label-default">5</span><span> Review &amp; Submit</span></div>
        <div class="col-sm-2" style="border-top:3px solid gray">&nbsp;</div>
    </div>
    <div ng-show="step === 2">
        <div class="col-sm-2" style="border-top:3px solid #5cb85c"><span class="label label-success">1</span><span> <a href="#/foraging/step1">Location and Date</a></span></div>
        <div class="col-sm-2" style="border-top:3px solid #f0ad4e"><span class="label label-warning">2</span><span> Site Information</span></div>
        <div class="col-sm-2" style="border-top:3px solid grey"><span class="label label-default">3</span><span> Waterbird Survey</span></div>
        <div class="col-sm-2" style="border-top:3px solid gray"><span class="label label-default">4</span><span> Disturbances</span></div>
        <div class="col-sm-2" style="border-top:3px solid gray"><span class="label label-default">5</span><span> Review &amp; Submit</span></div>
        <div class="col-sm-2" style="border-top:3px solid gray">&nbsp;</div>
    </div>
    <div ng-show="step === 3">
        <div class="col-sm-2" style="border-top:3px solid #5cb85c"><span class="label label-success">1</span><span> <a href="#/foraging/step1">Location and Date</a></span></div>
        <div class="col-sm-2" style="border-top:3px solid #5cb85c"><span class="label label-success">2</span><span> <a href="#/foraging/step2">Site Information</a></span></div>
        <div class="col-sm-2" style="border-top:3px solid #f0ad4e"><span class="label label-warning">3</span><span> Waterbird Survey</span></div>
        <div class="col-sm-2" style="border-top:3px solid gray"><span class="label label-default">4</span><span> Disturbances</span></div>
        <div class="col-sm-2" style="border-top:3px solid gray"><span class="label label-default">5</span><span> Review &amp; Submit</span></div>
        <div class="col-sm-2" style="border-top:3px solid gray">&nbsp;</div>
    </div>
    <div ng-show="step === 4">
        <div class="col-sm-2" style="border-top:3px solid #5cb85c"><span class="label label-success">1</span><span> <a href="#/foraging/step1">Location and Date</a></span></div>
        <div class="col-sm-2" style="border-top:3px solid #5cb85c"><span class="label label-success">2</span><span> <a href="#/foraging/step3">Site Information</a></span></div>
        <div class="col-sm-2" style="border-top:3px solid #5cb85c"><span class="label label-success">3</span><span> <a href="#/foraging/step3">Waterbird Survey</a></span></div>
        <div class="col-sm-2" style="border-top:3px solid #f0ad4e"><span class="label label-warning">4</span><span> Disturbances</span></div>
        <div class="col-sm-2" style="border-top:3px solid gray"><span class="label label-default">5</span><span> Review &amp; Submit</span></div>
        <div class="col-sm-2" style="border-top:3px solid gray">&nbsp;</div>
    </div>
    <div ng-show="step === 5">
        <div class="col-sm-2" style="border-top:3px solid #5cb85c"><span class="label label-success">1</span><span> <a href="#/foraging/step1">Location and Date</a></span></div>
        <div class="col-sm-2" style="border-top:3px solid #5cb85c"><span class="label label-success">2</span><span> <a href="#/foraging/step2">Site Information</a></span></div>
        <div class="col-sm-2" style="border-top:3px solid #5cb85c"><span class="label label-success">3</span><span> <a href="#/foraging/step3">Waterbird Survey</a></span></div>
        <div class="col-sm-2" style="border-top:3px solid #5cb85c"><span class="label label-success">4</span><span>  <a href="#/foraging/step4">Disturbances</a></span></div>
        <div class="col-sm-2" style="border-top:3px solid #5cb85c"><span class="label label-success">5</span><span> Review &amp; Submit</span></div>
        <div class="col-sm-2" style="border-top:3px solid #5cb85c">&nbsp;</div>
    </div>
</div>
<div class="row" ng-hide="step === 1 || step === 5" style="margin-top: 1em">
    <p>Location: {{locationName}}<br>
    Date: {{rookeryCensus.startDate}}</p>
</div>
