<div class="row">
    <alert>
    </alert>
    <div class="col-sm-6 col-sm-offset-3 login">
        <h2>Change Password</h2>
        <p>Enter your e-mail address and new password below.</p>
        <form ng-submit="submit()" name="form">
            <div class="form-group">
                <label for="emailAddress" class="control-label">Email Address</label>
                <input class="form-control" ng-model="emailAddress" id="emailAddress" placeholder="Enter your e-mail address" required ng-disabled="submitted">
            </div>
            <div class="form-group">
                <label for="password" class="control-label">Password</label>
                <input type="password" class="form-control" ng-model="password" id="password" placeholder="Must be at least 6 characters and contain at least 1 digit" required ng-disabled="submitted" ng-pattern="/((?=.*\d){6,50})/" ng-change="checkPasswordMatching()">
            </div>
            <div class="form-group">
                <label for="password2" class="control-label">Reenter Password</label>
                <input type="password" class="form-control" ng-model="password2" id="password2" placeholder="Reenter Password" required ng-disabled="submitted" ng-pattern="/((?=.*\d){6,50})/" ng-change="checkPasswordMatching()">
            </div>
            <button type="submit" ng-disabled="form.$invalid || submitted || notMatching" class="btn btn-primary login-link">Initiate Reset</button>
        </form>
    </div>
</div>
<loading></loading>
