<div class="panel-footer">
    <div class="form-group">
        <div class="row">
            <div class="col-sm-6">
                <input type="button" class="btn btn-default" id="back" name="back" value="&laquo; Back"
                    ng-click="back()" ng-disabled="!canGoBack">
                <input type="button" class="btn btn-warning" id="reset" name="reset" value="Reset" 
                    title="Completely reset the data entry form to a fresh state" ng-click="reset()">
            </div>
            <div class="col-sm-6 text-right">
                <input type="submit" class="btn btn-primary" 
                    value="{{canSaveForLater? 'Next &raquo;' : 'Finish'}}" 
                    ng-click="next()" ng-disabled="foragingForm.invalid">
                <input type="submit" class="btn btn-default" ng-click="save()" value="Save for Later" 
                    ng-disabled="foragingForm.invalid || !canSaveForLater">
            </div>
        </div>
    </div>
</div>
