<alert></alert>
<loading></loading>
<div ng-include="'/app/views/foraging/progressBar.html'"></div>
<div class="row" class="form-review">
    <form>
        <div class="panel panel-info">
            <div class="panel-heading"><span class="icon-info"></span>&nbsp; Instructions</div>
            <div class="panel-body">
                <p>Please review your data entry carefully. All fields marked must be filled in (with * and red border). Use the Back button to return to a previous page and complete or update the form as needed. When everything is complete, you can click the Finish button to submit this Waterbird Foraging Survey.</p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Location and Date</div>
            <div class="panel-body">
                <fieldset disabled>
                    <div class="row">
                        <div class="control-label col-sm-3">Location</div>
                        <div class="col-sm-3">
                            <input class="form-control" ng-value="review.location">
                        </div>
                        <div class="control-label col-sm-3">Survey Date</div>
                        <div class="col-sm-3">
                            <input class="form-control" ng-value="review.surveyDate | date: fullDate">
                        </div>
                    </div>
                    <div class="row">
                        <div class="control-label col-sm-3">Start Time</div>
                        <div class="col-sm-3">
                            <input class="form-control" ng-value="review.startTime | date: 'shortTime'">
                        </div>
                        <div class="control-label col-sm-3">End Time</div>
                        <div class="col-sm-3">
                            <input class="form-control" ng-value="review.endTime | date: 'shortTime'">
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Site Information</div>
            <div class="panel-body">
                <fieldset disabled>
                    <div class="row">
                        <div ng-class="{'has-error': foragingSurvey.siteTypeId === null}">
                            <div class="control-label col-sm-3">Site Type <span class="text-danger" ng-class="{invisible: foragingSurvey.siteTypeId !== null}">*</span></div>
                            <div class="col-sm-3">
                                <input class="form-control" ng-value="review.siteType">
                            </div>
                        </div>
                        <div ng-class="{'has-error': foragingSurvey.temperature === null}">
                            <div class="control-label col-sm-3" for="temperature">Temperature (&deg; F) <span class="text-danger" ng-class="{invisible: foragingSurvey.temperature !== null}">*</span></div>
                            <div class="col-sm-3">
                                <input class="form-control" ng-value="review.temperature">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div ng-class="{'has-error': foragingSurvey.windSpeed === null}">
                            <div class="control-label col-sm-3" for="windSpeed">Average Wind Speed <span class="text-danger" ng-class="{invisible: foragingSurvey.windSpeed !== null}">*</span></div>
                            <div class="col-sm-3">
                                <input class="form-control" ng-value="review.windSpeed">
                            </div>
                        </div>
                            <div ng-class="{'has-error': foragingSurvey.weatherId === null}">
                                <div class="control-label col-sm-3">Weather <span class="text-danger" ng-class="{invisible: foragingSurvey.weatherId !== null}">*</span></div>
                                <div class="col-sm-3">
                                    <input class="form-control" ng-value="review.weather">
                                </div>
                            </div>
                    </div>
                    <div class="row">
                        <div ng-class="{'has-error': foragingSurvey.waterHeightId === null}">
                            <div class="control-label col-sm-3">Water Height <span class="text-danger" ng-class="{invisible: foragingSurvey.waterHeightId !== null}">*</span></div>
                            <div class="col-sm-3">
                                <input class="form-control" ng-value="review.waterHeight">
                            </div>
                        </div>
                        <div ng-class="{'has-error': !foragingSurvey.timeLowTide}">
                            <div class="control-label col-sm-3">Nearest Low Tide <span class="text-danger" ng-class="{invisible: foragingSurvey.timeLowTide}">*</span></div>
                            <div class="col-sm-3">
                                <input class="form-control" ng-value="review.timeLowTide">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div ng-class="{'has-error': foragingSurvey.vantagePointId === null}">
                            <div class="control-label col-sm-3">Survey Vantage Point <span class="text-danger" ng-class="{invisible: foragingSurvey.vantagePointId !== null}">*</span></div>
                            <div class="col-sm-3">
                                <input class="form-control" ng-value="review.vantagePoint">
                            </div>
                        </div>
                        <div ng-class="{'has-error': foragingSurvey.accessPointId === null}">
                            <div class="control-label col-sm-3">Survey Access Point <span class="text-danger" ng-class="{invisible: foragingSurvey.accessPointId !== null}">*</span></div>
                            <div class="col-sm-3">
                                <input class="form-control" ng-value="review.accessPoint">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div ng-class="{'has-error': foragingSurvey.observers === null || foragingSurveys.observers === ''}">
                            <div class="control-label col-sm-3" for="observers">Observer(s) <span class="text-danger" ng-class="{invisible: foragingSurvey.observers !== null}">*</span></div>
                            <div class="col-sm-9">
                                <input class="form-control" ng-value="review.observers">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Waterbird Survey</div>
            <div class="panel-body">
                <div class="row header-row">
                    <div class="col-sm-2">Species</div>
                    <div class="col-sm-1">No. of Adults</div>
                    <div class="col-sm-1">No. of Juveniles</div>
                    <div class="col-sm-2">Primary Activity</div>
                    <div class="col-sm-2">Secondary Activity</div>
                    <div class="col-sm-2">Location / Habitat Type</div>
                    <div class="col-sm-2">% Feeding Success Rate</div>
                </div>
                <div ng-class="{ 'row odd-row': $odd, 'row even-row': $even, 'last-row': $last }" ng-repeat="bird in review.observations track by bird.birdSpeciesId">
                    <div class="col-sm-2 col-xs-12" ng-bind="bird.commonName">
                    </div>
                    <div class="visible-xs-11 hidden-sm hidden-md hidden-lg small-label">Number of Adults</div>
                    <div class="col-sm-1 col-xs-1" ng-bind="bird.adults"></div>
                    <div class="visible-xs-11 hidden-sm hidden-md hidden-lg small-label">Number of Juveniles</div>
                    <div class="col-sm-1 col-xs-1" ng-bind="bird.juveniles"></div>
                    <div class="visible-xs-10 hidden-sm hidden-md hidden-lg small-label">Primary Activity</div>
                    <div class="col-sm-2 col-xs-2" ng-bind="bird.primaryActivity"></div>
                    <div class="visible-xs-10 hidden-sm hidden-md hidden-lg small-label">Secondary Activity</div>
                    <div class="col-sm-2 col-xs-2" ng-bind="bird.secondaryActivity"></div>
                    <div class="visible-xs-10 hidden-sm hidden-md hidden-lg small-label">Location / Habitat Type</div>
                    <div class="col-sm-2 col-xs-2" ng-bind="bird.habitat"></div>
                    <div class="visible-xs-12 hidden-sm hidden-md hidden-lg small-label">% Feeding Success Rate</div>
                    <div class="col-sm-2 col-xs-2" ng-bind="bird.feeding"></div>
                </div>
                <div class="row" style="margin-top: 1em; margin-bottom: 1em;">
                    <label class="control-label col-sm-2">Comments</label>
                    <div class="col-sm-9">
                        <textarea type="text" class="form-control" rows="5" ng-model="foragingSurvey.surveyComments" ng-disabled="true"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Disturbances</div>
            <div class="panel-body">
                <div class="row header-row">
                    <div class="col-sm-2">Types</div>
                    <div class="col-sm-2">Quantity</div>
                    <div class="col-sm-2">Duration (nearest 5 minutes)</div>
                    <div class="col-sm-6">Result or Effect (observed behavior)</div>
                </div>
                <div ng-class="{ 'row odd-row': $odd, 'row even-row': $even, 'last-row': $last }" ng-repeat="disturbance in review.disturbances track by disturbance.disturbanceId">
                    <div class="col-sm-2" ng-bind="disturbance.disturbanceType"></div>
                    <div class="visible-xs-12 hidden-sm hidden-md hidden-lg small-label">Quantity</div>
                    <div class="col-sm-2" ng-bind="disturbance.quantity"></div>
                    <div class="visible-xs-12 hidden-sm hidden-md hidden-lg small-label">Duration (nearest 5 minutes)</div>
                    <div class="col-sm-2" ng-bind="disturbance.durationMinutes"></div>
                    <div class="visible-xs-12 hidden-sm hidden-md hidden-lg small-label">Result or Effect (observed behavior)</div>
                    <div class="col-sm-6" ng-bind="disturbance.behavior"></div>
                </div>
                <div class="row" style="margin-top: 1em; margin-bottom: 1em;">
                    <label class="control-label col-sm-2">Comments</label>
                    <div class="col-sm-9">
                        <textarea type="text" class="form-control" rows="5" ng-model="foragingSurvey.disturbanceComments" ng-disabled="true"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div ng-include="'/app/views/foraging/bottomBar.html'"></div>
