<alert></alert>
<loading></loading>
<div ng-include="'/app/views/foraging/progressBar.html'"></div>
<div class="row">
    <form class="form-horizontal" role="form">
        <div class="panel panel-info">
            <div class="panel-heading"><span class="icon-info"></span>&nbsp; Instructions</div>
            <div class="panel-body">
                <p>Fields on this page can be left blank temporarily, but all must be filled in before clicking the Finish button on the final page of the survey data entry.</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Site Type:</label>
            <div class="col-sm-9">
                <div class="checkbox">
                    <div ng-repeat="enum in enums.siteTypeInfo">
                        <input type="radio" id="site-type-{{enum.id}}" name="siteType" ng-model="foragingSurvey.siteTypeId" value="{{enum.id}}">
                        <label for="site-type-{{enum.id}}">{{enum.description}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="temperature">Temperature (&deg; F):</label>
            <div class="col-sm-2">
                <input type="number" class="form-control" name="temperature" ng-model="foragingSurvey.temperature" placeholder="0.0" min="-40.0" max="120.0" step="1.0">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="windSpeed">Average Wind Speed:</label>
            <div class="col-sm-2">
                <select id="windSpeed" name="windSpeed" class="form-control" ng-model="foragingSurvey.windSpeed" ng-options="item.id as item.description for item in enums.windSpeeds">
                </select>
            </div>
            <label class="control-label col-sm-1" for="direction">Direction:</label>
            <div class="col-sm-2">
                <select id="windDirection" name="windDirection" class="form-control" ng-model="foragingSurvey.windDirection" ng-options="item.id as item.description for item in enums.windDirections">
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Nearest Low Tide:</label>
             <div class="col-sm-3">
                <input kendo-time-picker ng-model="foragingSurvey.timeLowTide" id="timeLowTide" name="timeLowTide" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Water Height:</label>
            <div class="col-sm-9">
                <div class="checkbox">
                    <div ng-repeat="enum in enums.waterHeights">
                        <input type="radio" id="waterheight-{{enum.id}}" name="waterHeight" ng-model="foragingSurvey.waterHeightId" value="{{enum.id}}">
                        <label for="waterheight-{{enum.id}}">{{enum.description}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <label for="windDriven"><input type="checkbox" name="windDrivenTide" id="windDriven" ng-model="foragingSurvey.windDrivenTide">&nbsp;Tide Is Wind Driven</label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Weather:</label>
            <div class="col-sm-9">
                <div class="checkbox">
                    <div ng-repeat="enum in enums.weatherInfo">
                        <input type="radio" id="weather-{{enum.id}}" name="weatherInfo" ng-model="foragingSurvey.weatherId" value="{{enum.id}}">
                        <label for="weather-{{enum.id}}">{{enum.description}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="observers">Observer(s):</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="observers" placeholder="Enter Observer(s) Name(s)" ng-model="foragingSurvey.observers">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Survey Vantage Point:</label>
            <div class="col-sm-9">
                <div class="checkbox">
                    <div ng-repeat="enum in enums.vantagePointInfo">
                        <input type="radio" id="vantage-point-{{enum.id}}" name="vantagePointId" ng-model="foragingSurvey.vantagePointId" value="{{enum.id}}">
                        <label for="vantage-point-{{enum.id}}">{{enum.description}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Survey Access Point:</label>
            <div class="col-sm-9">
                <div class="checkbox">
                    <div ng-repeat="enum in enums.accessPointInfo">
                        <input type="radio" id="access-point-{{enum.id}}" name="accessPointId" ng-model="foragingSurvey.accessPointId" value="{{enum.id}}">
                        <label for="access-point-{{enum.id}}">{{enum.description}}</label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div ng-include="'/app/views/foraging/bottomBar.html'"></div>
