.loading {
  z-index:99;
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  margin-top: -32px;
  margin-left: -32px;
}

/*
 Validation and alerts
 */

.validator {
  padding-top: 2.25em;
}
span.error.bg-danger {
  padding: 7px;
  display: inline-block;
  width: 100%;
}

.alert {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
}



/*
 Form customizations
 */
form {
  margin-top: 2em;
}
form h2 {
  font-size: 1.5em;
  border-bottom: 1px inset silver;
  margin-top: 2em;
}

input.form-inline-small {
  display: inline;
  width: 4em;
}
select.form-inline-small {
  display: inline;
  width: 5em;
}


span.ng-invalid-required .k-state-default { /* copied form bootstrap .has-error */
    border-color: #a94442!important;
    border-top-color: rgb(169, 68, 66)!important;
    border-right-color: rgb(169, 68, 66)!important;
    border-bottom-color: rgb(169, 68, 66)!important;
    border-left-color: rgb(169, 68, 66)!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)!important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)!important;
}


/* fix an issue with the menu not displaying */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* for UIB modal support with newer bootstrap */
html {
  height: 100%;
}

body {
  min-height: 100%;
}

.modal-backdrop {
  bottom: 0;
}



/* beta banner */
.ribbon {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 100px; height: 100px;
  text-align: right;
}
.ribbon span {
  font-size: 1em;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#9BC90D 0%, #79A70A 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #79A70A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #79A70A;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}