<alert></alert>
<loading></loading>
<div class="row">
    <div class="modal-header">
        <h2>Log an Activity</h2>
        <p><span class="text-danger">*</span> indicates a required field.</p>
    </div>
    <form name="workdayForm" class="form-horizontal">
        <div class="modal-body">
            <div class="form-group">
                <label for="workDate" class="col-sm-3 control-label">Date <span class="text-danger">*</span></label>
                <div class="col-sm-4" ng-class="{'has-error': workdayForm.workDate.$error.required || workdayForm.workDate.$error.date}">
                    <input kendo-date-picker ng-model="workday.workDate" k-ng-model="workDateObject" style="width: 100%" ng-required="true" id="startDate" name="workDate" />
                </div>
            </div>
            <div class="form-group">
                <label for="workHours" class="col-sm-3 control-label">Total Work Time (Hours) <span class="text-danger">*</span></label>
                <div class="col-sm-9">
                    <uib-timepicker ng-model="workday.workTime" hour-step="hstep" minute-step="mstep" show-meridian="false" ng-required="true"></uib-timepicker>
                </div>
            </div>
            <div class="form-group">
                <label for="travelHours" class="col-sm-3 control-label">Total Travel Time (Hours) <span class="text-danger">*</span></label>
                <div class="col-sm-9">
                    <uib-timepicker ng-model="workday.travelTime" hour-step="hstep" minute-step="mstep" show-meridian="false" ng-required="true"></uib-timepicker>
                </div>
            </div>
            <div class="form-group">
                <label for="location" class="col-sm-3 control-label">Location <span class="text-danger">*</span></label>
                <div class="col-sm-9" ng-class="{'has-error': workdayForm.location.$error.required}">
                    <select class="form-control" ng-required="true" name="location" ng-model="workday.locationId" ng-options="item.id as item.value for item in data.locations">
                    </select>
                    <!-- Map -->
                    <div map-lazy-load-params="{{googleMapsUrl}}" map-lazy-load="https://maps.google.com/maps/api/js">
                        <ng-map center="28.943706, -95.360923" zoom="7" default-style="false" map-type-id="SATELLITE" style="display: block; height: 350px; margin-top: 1em;">
                            <info-window id="info">
                                <div ng-non-bindable="">
                                    Name: {{site.name}}
                                    <br> Code: {{site.siteCode}}
                                    <br> Lat/Lng: {{anchor.getPosition().lat() | number: 3}}/ {{anchor.getPosition().lng() | number: 3}}
                                    <br>
                                    <button class="btn btn-small btn-default" ng-click="useThisSite({{index}})">Use this site</button>
                                </div>
                            </info-window>
                            <marker ng-repeat="(index, site) in mappableLocations" id="{{index}}" position="{{site.position}}" on-click="showLocation(event, index)"></marker>
                        </ng-map>
                    </div>
                    <!-- End Map -->
                </div>
            </div>
            <div class="form-group">
                <label for="workType" class="col-sm-3 control-label">Work Type <span class="text-danger">*</span></label>
                <div class="col-sm-9" ng-class="{'has-error': workdayForm.workType.$error.required}">
                    <select class="form-control" ng-required="true" name="workType" ng-model="workday.workType" ng-options="item.id as item.value for item in data.worktypes">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="numberOfVolunteers" class="col-sm-3 control-label">Number of Volunteers <span class="text-danger">*</span></label>
                <div class="col-sm-2" ng-class="{'has-error': workdayForm.numberOfVolunteers.$error.required || workdayForm.numberOfVolunteers.$error.pattern }">
                    <input type="number" class="form-control" name="numberOfVolunteers" id="numberOfVolunteers" value="1" min="1" ng-required="true" ng-model="workday.numberOfVolunteers">
                </div>
            </div>
            <div class="form-group">
                <label for="tasksCompleted" class="col-sm-3 control-label">Tasks Completed <span class="text-danger">*</span></label>
                <div class="col-sm-9" class="form-control" ng-class="{'has-error': workdayForm.tasksCompleted.$error.required}">
                    <textarea class="form-control" name="tasksCompleted" id="tasksCompleted" ng-model="workday.tasksCompleted" ng-required="true" style="width: 90%; height: 6em;">
                    </textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="save()" ng-disabled="workdayForm.$invalid" >Save</button>
            <button class="btn btn-default" ng-click="cancel()">Back to the List</button>
        </div>
    </form>
</div>
