<alert>
</alert>
<div class="row content">
    <div class="col-sm-3 sidebar">
        <h2>Contact TERN:</h2>
        <p>
            Audubon Coastal Program Office
            <br> 1500 Marina Bay Drive
            <br> Suite 1800, Building 126
            <br> Clear Lake Shores, TX 77565
            <br> 409-941-9114
        </p>
    </div>
    <div class="col-sm-8 col-offset-sm-1">
        <h2>Send us a message</h2>
        <form ng-submit="submit()" name="contactForm" class="form-vertical" ng-disable="sent">
            <div class="form-group">
                <label for="fromName" class="control-label">Name <span class="text-danger">*</span></label>
                <div ng-class="{'has-error': contactForm.fromName.$error.required || contactForm.fromName.$error.maxlength}">
                    <input type="text" class="form-control" name="fromName" id="fromName" required ng-model="message.fromName" ng-maxlength="100">
                </div>
                <div role="alert">
                    <span class="error" ng-show="contactForm.fromName.$error.maxlength">Max 100 characters</span>
                </div>
            </div>
            <div class="form-group">
                <label for="fromEmail" class="control-label">Email Address <span class="text-danger">*</span></label>
                <div ng-class="{'has-error': contactForm.fromEmail.$error.required || contactForm.fromEmail.$error.pattern}">
                    <div class="input-group">
                        <span class="input-group-addon">@</span>
                        <input class="form-control" ng-model="message.fromEmail" name="fromEmail" required ng-maxlength="250" ng-pattern="/.+@.+\..+/">
                    </div>
                </div>
                <div role="alert">
                    <span class="error" ng-show="contactForm.fromEmail.$error.maxlength">Max 250 characters</span>
                    <span class="error" ng-show="contactForm.fromEmail.$touched && contactForm.fromEmail.$error.pattern">This doesn’t look like an email addres</span>
                </div>
            </div>
            <div class="form-group">
                <label for="reason" class="control-label">Reason for Contact <span class="text-danger">*</span></label>
                <div ng-class="{'has-error': contactForm.reason.$error.required}">
                    <select name="reasons" class="form-control" ng-model="message.reason" required 
                            ng-options="item for item in reasons">
                        </select>
                </div>
            </div>
            <div class="form-group">
                <label for="message" class="control-label">Message <span class="text-danger">*</span></label>
                <div ng-class="{'has-error': contactForm.message.$error.required || contactForm.message.$error.maxlength}">
                    <textarea style="width: 100%; height: 5em;" name="message" id="message" ng-model="message.message" ng-maxlength="1000" required placeholder="Max 1000 characters." class="form-control">
                    </textarea>
                </div>
                <div role="alert">
                    <span class="error" ng-show="contactForm.message.$error.maxlength">Max 1000 characters</span>
                </div>
            </div>
            <button type="submit" ng-disabled="contactForm.$invalid" class="btn btn-primary login-link" ng-click="submit">Submit</button>
        </form>
    </div>
    <loading></loading>
</div>
