<div class="container">
    <div class="row">
        <alert>
        </alert>
        <div class="col-md-12">
            <h2>Enter Your Data Type</h2>
            <p>What kind of data are you entering?</p>
        </div>
    </div>
    <div class="row data2">
        <div class="col-xs-4">
            <div class="step">
                <img src="/images/foraging.jpg">
                <h3>Foraging</h3>
                <p><i>Foraging Surveys</i> document waterbird feeding behaviors and habitat details of bird feeding grounds. Foraging surveys can be conducted at any time of year in habitats such as marshes, estuaries, and wetlands.
                </p>
                <p>
                    <a onclick="alert('not yet ready')">Submit foraging data »</a>
                </p>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="step">
                <img src="/images/skimmer.jpg">
                <h3>Rookery</h3>
                <p><i>Rookery Surveys</i>
                    document nesting habitats of colonial waterbirds on islands, or other habitat
                    specifically used for nesting and rearing young. Rookery surveys should only be conducted during nestibng season, Feburary through August, and document bird species, abundance, and the stage of nesting.
                </p>
                <p>
                    <a onclick="alert('not yet ready')">Submit rookery data »</a>
                </p>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="step">
                <img src="/images/greenIsland.jpg">
                <h3>Workday</h3>
                <p>
                    <i>Workday Surveys</i> document volunteer time invested in the TERN program that is not specifically related to entering survey data. This includes participating in group bird surveys, attending workshops, trainings, presentations, Rookery Island Restoration workdays, trash clean-up workdays, growing/planting native shrubs, etc.
                </p>
                <p>
                    <a onclick="alert('not yet ready')">Submit workday data »</a>
                </p>
            </div>
        </div>
    </div>
    <div>&nbsp;</div>
</div>