<div class="container">
    <div class="row">
        <alert>
        </alert>
        <div class="col-md-12">
            <h2>Enter Your Data Type</h2>
            <p>What kind of data are you entering?</p>
        </div>
    </div>
    <div class="row data2">
        <div class="col-xs-4">
            <div class="step">
                <a href="#/foraging"><img src="/images/foraging.jpg"></a>
                <h3><a href="#/foraging">Foraging</a></h3>
                <p><i>Foraging Surveys</i> document waterbird feeding behaviors and habitat details of bird feeding grounds. Foraging surveys can be conducted at any time of year in habitats such as marshes, estuaries, and wetlands.
                </p>
                <p>
                    <a href="#/foraging">Submit foraging data &raquo;</a>
                </p>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="step">
                <a href="#/rookery"><img src="/images/skimmer.jpg"></a>
                <h3><a href="#/rookery">Rookery</a></h3>
                <p><i>Rookery Surveys</i> document nesting habitats of colonial waterbirds on islands, or other habitat specifically used for nesting and rearing young. Rookery surveys should only be conducted during nestibng season, Feburary through August, and document bird species, abundance, and the stage of nesting.
                </p>
                <p>
                    <a href="#/rookery">Submit rookery data &raquo;</a>
                </p>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="step">
                <a href="/#/workdays/mylist"><img src="/images/greenIsland.jpg"></a>
                <h3><a href="/#/workdays/mylist">Activity Log</a></h3>
                <p>
                    <i>Activity Log</i> document volunteer time invested in the TERN program that is not specifically related to entering survey data. This includes participating in group bird surveys, attending workshops, trainings, presentations, Rookery Island Restoration workdays, trash clean-up workdays, growing/planting native shrubs, etc.
                </p>
                <p>
                    <a href="/#/workdays/mylist">Log an activity  &raquo;</a>
                </p>
            </div>
        </div>
    </div>
    <div>&nbsp;</div>
</div>
