<div class="container">
  <div class="jumbo">
    <img src="/images/pelicanBeach.small.jpg" class="hide-for-large">
    <img src="/images/pelicanBeach.large.jpg" class="hide-for-small">
    <div class="row">
      <div class="jumbo-title">
        <h1>
        Welcome to the TERN Data Portal
        </h1>
      </div>
    </div>
  </div>
</div>
<div class="container content">
  <div class="row">
    <div class="col-md-12">
    <p>
    Welcome to the Texas Estuarine Resource Network (TERN)! Your time and data is immeasurably valuable to bird conservation on our beloved Texas Coast, and to Audubon Texas, The National Audubon Society’s branch in the Lone Star state. Audubon Texas’s Coastal Conservation Program has a continued legacy of protecting and managing rookery islands for colonial waterbird populations since 1923 and TERN volunteers are an integral part of this process.</p>
    <p>Now in its second century, Audubon is dedicated to protecting birds and other wildlife and the habitat that supports them. Our nation-wide goals of sustaining important bird populations and engage millions of people of all ages and backgrounds in conservation can only be achieved with you - boots on the ground sustaining healthy bird habitats.</p>
    <p> Birds are at a unique crux in any ecosystem, which means they are great environmental indicators - literal canary in a coalmine for the health of our lands. If you are interested in listening to what birds have to tell us, and helping to reverse the dangerous trends they indicate in their habitats, you’ve come to the right place. Please follow the instructions below to share your data, learn more about citizen science, and join our family of conservationists on the Texas Coast. 
    </p>
    <p>
    How to get Started:
    </p>
    <ol>
      <li>Watch the training video or sign up for an in-person training</li>
      <li>Fill out and submit your volunteer paperwork</li>
      <li>Select a site for monitoring </li>
      <li>Create a site login with a username and password</li>
      <li>Start monitoring at your selected site</li>
      <li>Enter your data online</li>
      <li>Track your site for bird species with your account </li>
      <li>Explore data on our interactive maps</li>
    </ol>
    </div>
  </div>
</div>
