<div class="container content">
	<div class="row">
		<p>
			Texas Parks and Wildlife Department Operation Game Thief 24/7 hotline (800) 792-4263
		</p>
		<p>
			Galveston County Wardens Office M-F 8am-5pm (281) 931-6471
		</p>
		<p>
			Corpus Christi Wardens Office M-F 8am-5pm (361) 289-5566
		</p>
		<p>
			When filing a complaint try to have:
		</p>
		<ul>
			<li>WHO - Who are you? How can you be reached if the responding officer needs additional information? Who is the violator? Provide an accurate description of the violator and the number of people involved. Was a boat involved? Provide a description of the boat and/or tag number. Were there dogs present? </li>
			<li>WHAT - What is the violator doing that violates the law? </li>
			<li>WHEN - When did the violation occur? Is it in the progress? </li>
			<li>WHERE - Be as exact as possible. What direction are they heading?</li>
		</ul>
	</div>
</div>